<ion-header>
  <ion-navbar color="{{((item.color =='white')?'primary':item.color)}}">
    <ion-title>
        <small>{{item.cadena.nombre}} | {{item.local.nombre}}</small>
        <!-- <ion-icon name='ios-bookmark-outline' item-end></ion-icon> -->
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name='md-more'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
      
      <ion-navbar color='white'>
          <ion-buttons end>
            <button ion-button icon-only item-start (click)="back()">
                <ion-icon color='primary' ios="ios-arrow-back" md="md-arrow-back" ></ion-icon>
            </button>
          </ion-buttons>
          <ion-grid>
            <ion-row>
              <ion-col col-12 text-center>
                <strong>{{item['sku'][index].descripcion}} {{item['sku'][index].presentacion}}</strong>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12 class='subtitle' text-center>
                <label *ngIf="item['sku'][index].sabor!=''" >Sabor: {{item['sku'][index].sabor}} - </label>Sku {{index+1}} de {{item['sku'].length}}
              </ion-col>
            </ion-row>
          </ion-grid>
          
          <ion-buttons end>
            <button ion-button icon-only item-end (click)="forward()">
                <ion-icon color='primary' ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
            </button>
          </ion-buttons>
      </ion-navbar>
    
      <ion-item color='white'>
        <ion-label color="primary">Bloqueado</ion-label>
        <ion-toggle color="primary" [(ngModel)]="lockValue" (ionChange)="lockItem($event)"></ion-toggle>
      </ion-item>
      <ion-item color='white'>
        <ion-label class='ion-label' color="primary">Cant. Inicial</ion-label>
        <ion-input type='number' [(ngModel)]="item['sku'][index].inicial" [disabled]="lockValue"></ion-input>
      </ion-item>
      <ion-item color='white'>
        <ion-label class='ion-label' color="primary">Cant. Final</ion-label>
        <ion-input type='number' [(ngModel)]="item['sku'][index].final" [disabled]="lockValue"></ion-input>
      </ion-item>
      <ion-item color='white'>
        <ion-label class='ion-label' color="primary"># Caras</ion-label>
        <ion-input type='number' [(ngModel)]="item['sku'][index].caras" [disabled]="lockValue"></ion-input>
      </ion-item>
      <ion-item color='white'>
        <ion-label class='ion-label' color="primary">Ped. Sugerido</ion-label>
        <ion-input type='number' [(ngModel)]="item['sku'][index].sugerido" [disabled]="lockValue"></ion-input>
      </ion-item>
      <ion-item color='white'>
        <ion-label class='ion-label' color="primary">Obs.</ion-label>
        <ion-textarea [(ngModel)]="item['sku'][index].observacion" [disabled]="lockValue"></ion-textarea>
      </ion-item>
      <ion-list>
        <ion-item-sliding *ngFor="let img of item['fotos']">
          <ion-item>
            <ion-thumbnail item-start>
              <img style="width: 12vh;height: 12vh;" src={{img.url}} />
            </ion-thumbnail>
            <h3 class="text-primary">Foto</h3>
            <p text-wrap><small>Nombre: {{img.nombre}}</small></p>
            <p text-wrap><small>Tomada: {{img.fecha}}</small></p>
          </ion-item>
          <ion-item-options side="left">
            <button ion-button (click)="delete(img)" color="danger">
              <ion-icon name="trash"></ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
      <button color="{{((item['sku'][index].saved)?'saved':'primary')}}" margin-top ion-button round icon-start full block (click)="saveOne()" [disabled]="lockValue">
        <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
        {{((item['sku'][index].saved)?'ACTUALIZAR':'GRABAR')}}
      </button>
      <ion-fab bottom right padding>
        <button ion-fab marging color='primary' outline small (click)="takePhoto()">
          <ion-icon name='md-camera'></ion-icon>
        </button>
      </ion-fab>
      <ion-fab bottom left padding>
        <button ion-fab marging color="primary" (click)="finalize()">
          <ion-icon name='md-checkmark'></ion-icon>
        </button>
      </ion-fab>
      
</ion-content>
