<ion-header>
  <ion-navbar>
    <ion-title>today-list</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>      
  <ion-list>
    <p padding *ngIf="(lista.length==0)">No hay &oacute;rdenes para hoy</p>
    <button color={{item.color}} ion-item *ngFor="let item of lista" (click)="itemSelected(item)">
      <small>
        <strong>
          {{item.cadena.nombre}} | {{item.local.nombre}}
        </strong>
      </small>
      <br>      
      <small>
        {{item.sku[0].ds_cliente.substring(0,35)}} | Hoy {{item.visita | date: 'H:mm'}}
      </small>
      <ion-icon *ngIf="(item.prioridad == 'ALTA')" color="warning" name="md-alert" item-end (click)="setFavourite(item)"></ion-icon>
    </button>      
  </ion-list>      
</ion-content>
